<div class="intro-section">

    <table>
        <tr>
            <td class="author-image">
                    <img src="../../assets/img/k-picture-square.jpeg" />
            </td>
            <td class="quote">
                <p>"Ultricies lobortis, justo vel facilisis. 
                    Tincidunt mauris varius dictum. Adipiscing ligula pellentesque parturient molestie congue quis turpis" </p>
                    
            </td>
            <td class="blank"><!--blank space--></td>
        </tr>

    </table>
    

</div>